<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Footer template</title>
</head>
<body>
<footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center " style="background-image: url('https://github.com/solfany/Spring-board-project/assets/123814718/4f557631-1aea-4384-b710-e3b54097f981'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 150px; width: 100% " >
    <p class="col-md-4 mb-0 text-muted">&copy; 2023 project-board, Inc</p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    </ul>
</footer>
</body>
</html>
